/Dockerfile*
./webapp/node_modules
./vendor
./pgdata*
./eve*json
./*.sqlite
./*.dump
/Dockerfile
/.docker_cache
/.gitlab-ci.yml
/target
/build.sh
/data
# ===== 新增排除 =====
/.vscode
/.idea
*.swp
*~
*.bookmark
*.pcap
*.md
*.docx
/.git
/.github
control.ps1
control.sh
start-all.ps1
stop-all.ps1
start.txt
dev.sh
/elasticsearch
/tools/__pycache__
