/resources/webapp
/target
/.idea
/.cross
/dist
*~
*.pem
*.bookmark
.evebox
*.sqlite
.vscode
/*.iml
*.swp
/data
**/.claude/settings.local.json
/*.pcap
/elasticsearch/
/*.zip
*.docx
/tools/__pycache__/
.tar.gz
